{% extends "base.html" %}

{% block content %}
<!-- Blog Page Content -->
</div>
<style>
    img {
        display: flex;
        width: 100%;
    }
</style>

<div class="formhead">
    {% if current_user.is_authenticated %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endif %}
</div>


    <h2 style="text-align: center;">About Us</h2>
</section>



<div class="container" style="background: none; max-width: 1200px;">
    <h1 class="heading" style="color: green; font-size:18px ; text-align: center; margin-top: 20px; font-weight: 700;">Who We Are and What We Do</h1>

    <div class="box-container" style="display: flex; flex-wrap: wrap; justify-content: space-between; max-width: 1200px; margin: auto; padding: 2rem; gap: 2rem;">
        <div class="box" style="background-color: #0cb4ce79; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); padding: 1.5rem; flex: 1 1 calc(30% - 1rem); min-width: 250px;">

            <h3 style=" color: #003366; font-weight: 800; font-size: 14px; margin: 0 0 0.5rem;">Empowering Young Entrepreneurs and Professionals</h3>
            <p style="color: #333; margin: 0;">IYEPA (Inter-County Young Entrepreneurs and Professionals Association) is an initiative established by Alternatives Africa to support young entrepreneurs and professionals aged between 18-40 years. IYEPA addresses key challenges that affect the growth of micro, small, and medium enterprises (MSMEs), such as access to markets, affordable credit, and policy frameworks. It is dedicated to creating a robust and sustainable business ecosystem that fosters the success of youth-led businesses in Kenya.</p>
        </div>
        
        <div class="box" style="background-color:  #0cb4ce79; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); padding: 1.5rem; flex: 1 1 calc(30% - 1rem); min-width: 250px;">
            <h3 style="color: #003366; font-weight: 800; font-size: 14px; margin: 0 0 0.5rem;">Our Mission</h3>
            <p style="color: #333; margin: 0;">IYEPA's mission is to improve the business environment for young entrepreneurs and professionals by providing access to affordable financial services, marketing support, and platforms for policy advocacy. By strengthening the business ecosystem and promoting investment in youth-owned MSMEs, IYEPA aims to drive sustainable economic growth and enhance the profitability of youth-led businesses in Kenya.</p>
        </div>
        
        <div class="box" style="background-color: #0cb4ce79; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); padding: 1.5rem; flex: 1 1 calc(30% - 1rem); min-width: 250px;">
            <h3 style="color: #003366; font-weight: 800; font-size: 14px; margin: 0 0 0.5rem;">A Platform for Collaboration and Growth</h3>
            <p style="color: #333; margin: 0;">IYEPA provides a platform for young entrepreneurs and professionals to connect with industry experts, investors, and other business owners. Through networking opportunities, marketing services, and access to new markets, IYEPA facilitates collaboration and trade, helping youth-led enterprises thrive. By working closely with both the public and private sectors, IYEPA also advocates for youth-friendly policies that promote business growth and sustainability.</p>
        </div>
    </div>
</div>

<!-- New Section with Image and Paragraph -->
<div class="container" style="display: flex; align-items: center; margin-top: 50px; padding-bottom: 40px;">
    <img src="{{ url_for('static', filename='SPAPHOTOS/allbiz.jpg') }}" alt="IYEPA" style="flex: 1; width: 90%; margin-right: 20px;">
    <div style="flex: 2;">
        <h2 style="color: green; font-size: medium;">How we support our members</h2>
        <p>
     IYEPA supports its members by providing affordable credit through a savings and credit cooperative, facilitating access to markets, and advocating for policies that promote a conducive business environment. By focusing on both financial and non-financial services, IYEPA is committed to helping young entrepreneurs scale their businesses and contribute to the overall economic development of Kenya.
        </p>
    </div>
</div>

<div class="container" style="display: flex; align-items: center; margin-top: 50px; padding-bottom: 40px;">
    <div style="flex: 2;">
        <h2>Join Us at IYEPA</h2>
        <p>
            IYEPA invites young entrepreneurs and professionals to join its platform and be part of a thriving ecosystem that supports business growth. By becoming a member, you gain access to affordable financial services, networking opportunities, and a voice in policy discussions that affect your business. Whether you are a startup founder, a professional looking to expand your network, or a young business owner seeking support, IYEPA offers the tools and resources to help you succeed.
        </p>
        <p>
            Together, we can work towards creating a more sustainable and equitable future for young entrepreneurs and professionals in Kenya. Join IYEPA today and be part of the change!
        </p>
    </div>
    
    <div style="flex: 2; padding: 18px; margin: 8px; background-color: aliceblue;">
        <h2 style="color: goldenrod; font-size:18px ;">Get in Touch with Us</h2>
        <p>
            We are eager to connect with you! Whether you’re interested in becoming a member, collaborating on a project, or learning more about our initiatives, IYEPA is here to support your entrepreneurial journey. Reach out to us using the contact details below, and let's explore how we can work together to foster economic growth and create lasting change.
        </p>
        <p>
            Address <br>
            Kingdom Business Network<br>
            Kindaruma Rd, off Ngong Rd<br>
            Email <br> <a style="background-color:transparent;color: #003366; margin: 0; padding: 0; font-weight: 400; " href="mailto:info@alternatives.co.ke">info@alternatives.co.ke</a><br>
            Phone <br> +254791398100
        </p>
    </div>
</div>

<section id="partners-section" class="partners">
    <div class="container">
        <h2 class="partners-title">Our Partners</h2>
        <div class="partners-grid">
            <div class="partners-grid-item">
                <img src="{{ url_for('static', filename='SPAPHOTOS/partner1.jpg') }}" alt="Partner 1" />
            </div>
            <div class="partners-grid-item">
                <img src="{{ url_for('static', filename='SPAPHOTOS/partner2.jpg') }}" alt="Partner 2" />
            </div>
            <div class="partners-grid-item">
                <img src="{{ url_for('static', filename='SPAPHOTOS/partner3.jpg') }}" alt="Partner 3" />
            </div>
            <div class="partners-grid-item">
                <img src="{{ url_for('static', filename='SPAPHOTOS/partner4.jpg') }}" alt="Partner 4" />
            </div>

            <div class="partners-grid-item">
                <img src="{{ url_for('static', filename='SPAPHOTOS/partner5.jpg') }}" alt="Partner 5" />
            </div>
            <div class="partners-grid-item">
                <img src="{{ url_for('static', filename='SPAPHOTOS/partner6.jpg') }}" alt="Partner 6" />
            </div>
            <div class="partners-grid-item">
                <img src="{{ url_for('static', filename='SPAPHOTOS/partner7.jpg') }}" alt="Partner 7" />
            </div>
          
        </div>
    </div>
</section>



<footer  style="padding: 0; background-color: #003366; ">
    <div class="footer__top row" style="display: flex; flex-direction: column; padding: 5px;">
        <!-- Visit Us Section -->
        <div class="footer__section footer__visit-us col-md-12" style="padding-bottom: 20px; border-bottom: 1px solid #ccc; width: 50%; margin: 0 auto;">
            <h5>Visit Us</h5>
            <p>We are located at the Kingdom Business Network building on Ngong Road, off Kabarnet. Welcome to visit and discuss about youth over coffee.</p>
        </div>

        <!-- Call Us Section -->
        <div class="footer__section footer__call-us col-md-12" style="padding-top: 20px; ">
            <p><i  class="fas fa-phone-alt" style="color: #003366; margin-right: 10px; font-size: 20px;  background-color: white; padding: 8px; border-radius: 20px;"></i> +254 791 398 100</p>
        </div>
    </div>
</footer>

{% endblock %}