<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        .cvTitle {
            color: #343a40;
            font-weight: 800;
            font-size: 28px;
        }
        .cvSubtitle {
            margin: 10px 0;
            font-size: 20px;
            font-weight: 500;
            font-style: italic;
        }
        .cvContent {
            margin-bottom: 20px;
        }
        .cvSection {
            margin: 20px 0;
        }
        .cvFeature {
            margin-bottom: 15px;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #ffffff;
        }
        .cvFeature h3 {
            font-weight: 700;
            font-size: 20px;
        }
        .cvConclusion {
            margin-top: 40px;
            color: #dc3545;
            font-weight: 700;
        }
        .note {
            font-style: italic;
            color: #6c757d;
            margin-top: 15px;
        }
        .address {
            margin: 20px 0;
            font-style: italic;
            color: #6c757d;
        }
    </style>

    <title>Bily Otieno Okwaro - CV</title>
</head>

<body>
    <div class="container">
        
        <div class="address">
            <h1 class="cvTitle">Bily Otieno Okwaro</h1>
            <p>Email: <a href="mailto:bilyokwaro95@gmail.com">bilyokwaro95@gmail.com</a> <br> LinkedIn: <a href="https://www.linkedin.com/in/bily-okwaro-19a792299/" target="_blank">https://www.linkedin.com/in/bily-okwaro-19a792299/</a> <br> GitHub: <a href="https://github.com/bily-yen" target="_blank">https://github.com/bily-yen</a></p>
        </div>
        
        <h4 class="cvSubtitle">Active Student</h4>

        <div class="cvContent">
            <p>Motivated and driven individual currently pursuing a degree in GIS at the Tech University of Kenya, with a passion for technology and development. I am actively exploring opportunities to apply my skills in technology and strategic leadership to optimize business processes. I am particularly interested in integrating technology to improve operations, team productivity, and performance. Outside of my academic and professional pursuits, I have a strong interest in barbering, which helps me develop attention to detail and customer service skills.</p>
        </div>
        
        
        <div class="cvSection">
            <h2 class="cvSubtitle">Education</h2>

            <div class="cvFeature">
                <h3>Tech University of Kenya</h3>
                <p><strong>Degree:</strong> GIS (Geographic Information Systems) <br> <strong>GPA:</strong> 4.3 <br> <strong>Duration:</strong> 2019 - <span id="currentYear"></span></p>
            </div>

            <div class="cvFeature">
                <h3>Maseno School</h3>
                <p><strong>Qualification:</strong> B Plain <br> <strong>Duration:</strong> 2015 - 2018</p>
            </div>
        </div>

        <div class="cvSection">
            <h2 class="cvSubtitle">Skills</h2>
            <ul>
                <li>Data processing,analysis and visualization with GIS software like ArcGIS, QGIS</li>
                <li>Building web applications with Python (Flask)</li>
                <li>Web development: HTML, CSS, JavaScript</li>
                <li>Data analysis and visualization python pandas</li>
                <li>Strong communication and collaboration skills</li>
                <li>Business model design and development</li>
            </ul>
        </div>

        <div class="cvSection">
            <h2 class="cvSubtitle">Projects</h2>
        

            <div class="cvFeature">
                <h3>Web Application prototypes for Consumer Cooperatives</h3>
                <p>Worked on developing a web application prototype, focusing on improving digital transactions and membership management. Built using Python (Flask) and front-end technologies (HTML, CSS, JavaScript).</p>
            </div>

            <div class="cvFeature">
                <h3>eCommerce Systems & SaaS Apps</h3>
                <p>Developed and maintained eCommerce systems and simple SaaS applications, focusing on improving user experience, optimizing workflows, and implementing robust backend solutions. The projects are currently hosted on GitHub for collaboration and further development.</p>
            </div>

            <div class="cvFeature">
                <h3>Web Mapping</h3>
                <p>Designed web maps for internal institutional mapping, creating interactive, user-friendly visualizations for various geographic data points.</p>
            </div>
            
            <div class="cvFeature">
                <h3>Data Processing</h3>
                <p>Processed raw CSV data to prepare and clean geographic information, ensuring accurate data for visualization and analysis.</p>
            </div>



        </div>

        <div class="cvSection">
            <h2 class="cvSubtitle">Work Experience & Volunteer Work</h2>
            
            <div class="cvFeature">
                <h3>Exploring Opportunities with IYEPA (Inter-County Young Entrepreneurs and Professionals Association)</h3>
                <p>Currently undergoing an assessment by IYEPA, where I am actively involved in implementing a consumer cooperative model supported by a digital platform. My responsibilities include:</p>
                <ul>
                    <li>Designing business models and corresponding frameworks for consumer cooperatives to ensure effective operation and sustainability.</li>
                    <li>Writing detailed proposals and creating budgets for the development and implementation of the digital ecosystem supporting MSMEs.</li>
                    <li>Collaborating with professionals and stakeholders to design and integrate a user-friendly digital platform for cooperative management using Flask framework.</li>
                    <li>Coordinating the development of digital solutions that streamline membership management, transactions, and services, enhancing market access for young entrepreneurs.</li>
                </ul>
                <p>Through this project, I am contributing to the creation of an affordable, scalable ecosystem that supports MSMEs and fosters business growth and sustainability in Kenya.</p>
            </div>

            <div class="cvFeature">
                <h3>Barbering (Personal Interest)</h3>
                <p>Passionate about barbering, I enjoy honing my skills in this trade as a hobby. This interest has allowed me to build relationships, develop a keen attention to detail, and enhance my customer service skills. I believe the discipline and precision required in this field also complement my professional development in technology and project management.</p>
            </div>
        </div>

        <div class="cvSection">
            <h2 class="cvSubtitle">Certifications</h2>
            <p>No certifications as of yet. However, I am exploring certification opportunities to further build my expertise in GIS and web development.</p>
        </div>

        <div class="cvSection">
            <h2 class="cvSubtitle">Languages</h2>
            <ul>
                <li>English (Fluent)</li>
                <li>Kiswahili (Fluent)</li>
            </ul>
        </div>

        <div class="cvConclusion">
            <h3>Conclusion</h3>
            <p>I am passionate about using technology to drive positive change. With a growing expertise in GIS and web development, I aim to contribute to projects that support community-driven initiatives and create impactful digital solutions for businesses and organizations.</p>
        </div>
        
    </div>

    <script>
        // Set the current year dynamically
        document.getElementById("currentYear").innerText = new Date().getFullYear();
    </script>
</body>
</html>
