{% extends "base.html" %}

{% block content %}
<div class="container" style="text-align: center ;">
    <h1 class="my-4" style="display: flex; padding: 10px; font-weight: 800; font-size: 21px; color: black; text-align: center; justify-content: center;
    background-color: white;">Daily Transactions Summary for {{ date }}</h1>

    <!-- Summary Section -->
    <div class="summary-container d-flex flex-wrap justify-content-between mb-4">
        <div class="summary-card bg-light p-3 border rounded">
            <h4>Total Loans</h4>
            <p class="amount">Ksh {{ total_loans | round(2) }}</p>
        </div>
        <div class="summary-card bg-light p-3 border rounded">
            <h4>Total Refunds</h4>
            <p class="amount">Ksh {{ total_refunds | round(2) }}</p>
        </div>
        <div class="summary-card bg-light p-3 border rounded">
            <h4>Difference</h4>
            <p class="amount">Ksh {{ difference | round(2) }}</p>
        </div>
    </div>

    <!-- Transactions Table -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Transaction ID</th>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Pending Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.transaction_id }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td> {{ transaction.amount | round(2) }}</td>
                <td>
                    {% if transaction.pending_balance is not none %}
                        {{ transaction.pending_balance | round(2) }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

<style>
    .summary-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    .summary-card {
        flex: 1 1 30%;
        margin: 10px;
        text-align: center;
        box-shadow: 0 2px 4px rgb(255, 0, 0);

    }
    .summary-card h4 {
        margin-bottom: 10px;
    }
    .summary-card .amount {
        font-size: 1.5em;
        font-weight: bold;}
    
    table {
        margin-top: 20px;
    }
</style>